body {
    background-color: lightyellow;
}

[type=text] {
    background-color: olive;
}

[type=number] {
    background-color: yellow;
}

div span {
    background-color: yellow;
}

div>span {
    font-weight: bold;
}

input:hover {
    color: blue
}